//PARTIALS
@import "setup";

// VARIABLES
$teal:#114b5f;
$lagoon:#028090;
$peppermint:#e4fde1;
$wedgewood:#456990;
$mutedwhite:#cccccc;



//FONT FAMILY
$mainFont: 'Open Sans', sans-serif;
$headingFont:'Abril Fatface', cursive;

// BASE STYLES
html{
	font-size: 62.5%;
}

body{
	font-size: 1.2rem;
	font-family: $mainFont;
	
}
//  --------------------------------About overlay
#about {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba($teal, 0.95);
	z-index: 9998;
}
//  ---------------About Header
.overlay-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	#overlay-close {
		background: none;
		border: 0;
		margin: 30px 50px;
		img {
			width: 30px;
			height: auto;
		}
	}
}
.overlay-container {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;	
	height: 80vh;
}
//  ---------------About whole
.main {
	width: 100%;
	text-align: center;
	padding: 0 30px;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;	
	a {
		text-decoration: none;
		opacity: 1;
		color: $mutedwhite;
	}
	h2 {
		font-size: 3rem;
		color: white;
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items:center;
		font-family: $headingFont;
		letter-spacing: 1px;
		// margin-top: 150px;
	}
	p {
		font-size: 2rem;
		color: $mutedwhite;
	}

	.desc {
		margin-top: 0;
	}
	.credit {
		font-size: 1.5rem;
		padding-left: 10px;
		margin: 20px 50px 15px ;
		color: $mutedwhite;
		opacity: 1;
	}
	.made {
		font-size: 1.5rem;
		margin: 0px;
	}
}

.left a:hover {
	color: white;
}

.twitter-share-button {
	margin-top: 30px;
}
// --------------------------------About overlay end
.hero {
	
	display:flex;
	flex-direction:row;
	background-image: url('../asset/hero.jpg');
	background-size: cover;
	



}

	
.clock {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

nav {
	background:$teal;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	padding: 10px 40px;
	img {
		width: 200px;
		z-index: 9999;
	}
	button {
		background:$teal;
		border:none;
		color:$mutedwhite;
		text-transform: uppercase;
		font-size: 1.4rem;
		font-family: $mainFont;
		&:hover {
			font-weight: bolder;
		}
	}
}


h1 {
	margin:0;
	padding:30px;
	color:$mutedwhite;
	font-size: 2rem;

}

.buttons {
	padding:100px;
	

}

details{
	color:$mutedwhite;

}



summary {
	padding:15px;
	border:2px solid $mutedwhite;
	font-size: 1.5rem;
	margin:10px 0;

	p{
		display:inline-block;
		margin:0;
	}
	img {
		width:25px;
		float:right;
	}
}


summary::-webkit-details-marker {
		display:none;
	}

ul.allergies, ul.diet {
	display:flex;
	justify-content:flex-start;

}

ul.allergies li, ul.diet li {
	list-style: none;
	margin-right: 15px;
}